In [1]:
 # Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import sklearn.datasets

In [3]:
cc_df = pd.read_csv('Credit_Data_Original.csv')
cc_df.head(10)

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,DEFAULT
0,1,0,6,4,0,0,0,1,0,0,...,67,0,0,1,2,2,1,1,0,0
1,2,1,48,2,0,0,0,1,0,0,...,22,0,0,1,1,2,1,0,0,1
2,3,3,12,4,0,0,0,0,1,0,...,49,0,0,1,1,1,2,0,0,0
3,4,0,42,2,0,0,1,0,0,0,...,45,0,0,0,1,2,2,0,0,0
4,5,0,24,3,1,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,1
5,6,3,36,2,0,0,0,0,1,0,...,35,0,0,0,1,1,2,1,0,0
6,7,3,24,2,0,0,1,0,0,0,...,53,0,0,1,1,2,1,0,0,0
7,8,1,36,2,0,1,0,0,0,0,...,35,0,1,0,1,3,1,1,0,0
8,9,3,12,2,0,0,0,1,0,0,...,61,0,0,1,1,1,1,0,0,0
9,10,1,30,4,1,0,0,0,0,0,...,28,0,0,1,2,3,1,0,0,1

In [4]:
loanDetails_df =pd.DataFrame({
                                            "AMOUNT": cc_df['AMOUNT'],
                                            "DURATION": cc_df['DURATION'],
                                            "INSTALL_RATE": cc_df['INSTALL_RATE'],
                                            "CO-APPLICANT": cc_df['CO-APPLICANT'],
                                            "GUARANTOR": cc_df['GUARANTOR'],
                                            "DEFAULT": cc_df['DEFAULT']                              
}).reset_index(drop=True)

loanDetails_df

     AMOUNT  DURATION  INSTALL_RATE  CO-APPLICANT  GUARANTOR  DEFAULT
0      1169         6             4             0          0        0
1      5951        48             2             0          0        1
2      2096        12             2             0          0        0
3      7882        42             2             0          1        0
4      4870        24             3             0          0        1
..      ...       ...           ...           ...        ...      ...
995    1736        12             3             0          0        0
996    3857        30             4             0          0        0
997     804        12             4             0          0        0
998    1845        45             4             0          0        1
999    4576        45             3             0          0        0

[1000 rows x 6 columns]

In [5]:
X = loanDetails_df.drop("DEFAULT", axis=1)
y = loanDetails_df["DEFAULT"]
print(X.shape, y.shape)

(1000, 5) (1000,)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.25)

In [8]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [10]:
# Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [11]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [12]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=5))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [13]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               600
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 202
=================================================================
Total params: 10,902
Trainable params: 10,902
Non-trainable params: 0
_________________________________________________________________

In [14]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=50,
    shuffle=True,
    verbose=2
)

Train on 750 samples
Epoch 1/50
750/750 - 2s - loss: 0.6571 - accuracy: 0.6613
Epoch 2/50
750/750 - 0s - loss: 0.6311 - accuracy: 0.6987
Epoch 3/50
750/750 - 0s - loss: 0.6184 - accuracy: 0.6987
Epoch 4/50
750/750 - 0s - loss: 0.6074 - accuracy: 0.7040
Epoch 5/50
750/750 - 0s - loss: 0.5955 - accuracy: 0.7027
Epoch 6/50
750/750 - 0s - loss: 0.5891 - accuracy: 0.7000
Epoch 7/50
750/750 - 0s - loss: 0.5862 - accuracy: 0.7080
Epoch 8/50
750/750 - 0s - loss: 0.5944 - accuracy: 0.7040
Epoch 9/50
750/750 - 0s - loss: 0.5867 - accuracy: 0.7053
Epoch 10/50
750/750 - 0s - loss: 0.5793 - accuracy: 0.7067
Epoch 11/50
750/750 - 0s - loss: 0.5809 - accuracy: 0.7013
Epoch 12/50
750/750 - 0s - loss: 0.5765 - accuracy: 0.7067
Epoch 13/50
750/750 - 0s - loss: 0.5788 - accuracy: 0.7053
Epoch 14/50
750/750 - 0s - loss: 0.5757 - accuracy: 0.7093
Epoch 15/50
750/750 - 0s - loss: 0.5754 - accuracy: 0.7080
Epoch 16/50
750/750 - 0s - loss: 0.5732 - accuracy: 0.7107
Epoch 17/50
750/750 - 0s - loss: 0.5729 - accuracy: 0.7200
Epoch 18/50
750/750 - 0s - loss: 0.5720 - accuracy: 0.7213
Epoch 19/50
750/750 - 0s - loss: 0.5715 - accuracy: 0.7173
Epoch 20/50
750/750 - 0s - loss: 0.5746 - accuracy: 0.7133
Epoch 21/50
750/750 - 0s - loss: 0.5710 - accuracy: 0.7187
Epoch 22/50
750/750 - 0s - loss: 0.5706 - accuracy: 0.7147
Epoch 23/50
750/750 - 0s - loss: 0.5684 - accuracy: 0.7133
Epoch 24/50
750/750 - 0s - loss: 0.5703 - accuracy: 0.7200
Epoch 25/50
750/750 - 0s - loss: 0.5685 - accuracy: 0.7173
Epoch 26/50
750/750 - 0s - loss: 0.5683 - accuracy: 0.7107
Epoch 27/50
750/750 - 0s - loss: 0.5653 - accuracy: 0.7200
Epoch 28/50
750/750 - 0s - loss: 0.5688 - accuracy: 0.7200
Epoch 29/50
750/750 - 0s - loss: 0.5639 - accuracy: 0.7227
Epoch 30/50
750/750 - 0s - loss: 0.5680 - accuracy: 0.7253
Epoch 31/50
750/750 - 0s - loss: 0.5692 - accuracy: 0.7187
Epoch 32/50
750/750 - 0s - loss: 0.5649 - accuracy: 0.7200
Epoch 33/50
750/750 - 0s - loss: 0.5619 - accuracy: 0.7173
Epoch 34/50
750/750 - 0s - loss: 0.5633 - accuracy: 0.7173
Epoch 35/50
750/750 - 0s - loss: 0.5615 - accuracy: 0.7227
Epoch 36/50
750/750 - 0s - loss: 0.5610 - accuracy: 0.7200
Epoch 37/50
750/750 - 0s - loss: 0.5609 - accuracy: 0.7187
Epoch 38/50
750/750 - 0s - loss: 0.5604 - accuracy: 0.7253
Epoch 39/50
750/750 - 0s - loss: 0.5602 - accuracy: 0.7240
Epoch 40/50
750/750 - 0s - loss: 0.5582 - accuracy: 0.7227
Epoch 41/50
750/750 - 0s - loss: 0.5583 - accuracy: 0.7280
Epoch 42/50
750/750 - 0s - loss: 0.5602 - accuracy: 0.7213
Epoch 43/50
750/750 - 0s - loss: 0.5578 - accuracy: 0.7213
Epoch 44/50
750/750 - 0s - loss: 0.5579 - accuracy: 0.7213
Epoch 45/50
750/750 - 0s - loss: 0.5555 - accuracy: 0.7253
Epoch 46/50
750/750 - 0s - loss: 0.5547 - accuracy: 0.7253
Epoch 47/50
750/750 - 0s - loss: 0.5551 - accuracy: 0.7200
Epoch 48/50
750/750 - 0s - loss: 0.5556 - accuracy: 0.7240
Epoch 49/50
750/750 - 0s - loss: 0.5539 - accuracy: 0.7280
Epoch 50/50
750/750 - 0s - loss: 0.5550 - accuracy: 0.7200

In [15]:
print(f"Normal Neural Network ")
print('-----------------------')
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)

Normal Neural Network
-----------------------
250/250 - 0s - loss: 0.5894 - accuracy: 0.7080

In [16]:
# SAFE MODEL!!!
 
model.save("DEFAULT_model_trained_LOAN_DETAILS.h5")

In [17]:
# RELOAD!!!!! MODEL!!! YAYYYYY!!
from tensorflow.keras.models import load_model

default_model = load_model("DEFAULT_model_trained_LOAN_DETAILS.h5")

In [18]:
print(f"Better Check that Normal Neural Network!! Twice! ")
print('-------------------------------------------------')
model_loss, model_accuracy = default_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)

Better Check that Normal Neural Network!! Twice!
-------------------------------------------------
250/250 - 0s - loss: 0.5894 - accuracy: 0.7080

In [19]:
# Predicting Default OUTCOMES
encoded_predictions = model.predict_classes(X_test_scaled[:])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [20]:
print(f"DEFAULT OUTCOME KEY: (DEFAULT YES: 1 , DEFAULt NO: 0 )")
print(f"------------------------------------------------------")
print(f"Predicted Outcome: {prediction_labels}")
print(f"Actual Outcome: {list(y_test[:])}")

DEFAULT OUTCOME KEY: (DEFAULT YES: 1 , DEFAULt NO: 0 )
------------------------------------------------------
Predicted Outcome: [0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
Actual Outcome: [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0]

In [21]:
#SAVE VARIABLES TO PLOT 

X_predict = prediction_labels
print(X_predict)
Actual_Outcome= list(y_test[:])
print(Actual_Outcome)

[0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0]

In [22]:
approval_df =pd.DataFrame({"Prediction Acct Default": X_predict, "Actual Acct Default": Actual_Outcome}).reset_index(drop=True)
approval_df

     Prediction Acct Default  Actual Acct Default
0                          0                    1
1                          1                    0
2                          0                    0
3                          0                    1
4                          0                    1
..                       ...                  ...
245                        0                    0
246                        0                    0
247                        0                    1
248                        0                    0
249                        0                    0

[250 rows x 2 columns]

In [23]:
approval_df["Approval_Status"] =""
approval_df

     Prediction Acct Default  Actual Acct Default Approval_Status
0                          0                    1
1                          1                    0
2                          0                    0
3                          0                    1
4                          0                    1
..                       ...                  ...             ...
245                        0                    0
246                        0                    0
247                        0                    1
248                        0                    0
249                        0                    0

[250 rows x 3 columns]

In [24]:
def Approval_Status(c):
    if c['Prediction Acct Default'] & c['Actual Acct Default']== 1:
        return 'Denied'
    elif c['Prediction Acct Default'] | c['Actual Acct Default']== 0:
        return 'Approved'
    else:
        return 'Pending Further Analysis'

In [25]:
approval_df["Approval_Status"] =approval_df.apply(Approval_Status,axis=1)
approval_df.head(20)

    Prediction Acct Default  Actual Acct Default           Approval_Status
0                         0                    1  Pending Further Analysis
1                         1                    0  Pending Further Analysis
2                         0                    0                  Approved
3                         0                    1  Pending Further Analysis
4                         0                    1  Pending Further Analysis
5                         0                    0                  Approved
6                         0                    0                  Approved
7                         0                    0                  Approved
8                         0                    0                  Approved
9                         0                    0                  Approved
10                        0                    1  Pending Further Analysis
11                        0                    0                  Approved
12                        0                    0                  Approved
13                        0                    0                  Approved
14                        0                    0                  Approved
15                        0                    0                  Approved
16                        0                    0                  Approved
17                        0                    0                  Approved
18                        0                    0                  Approved
19                        0                    1  Pending Further Analysis

In [26]:
statusValueCount= approval_df["Approval_Status"].value_counts()
statusValueCount

Approved                    169
Pending Further Analysis     73
Denied                        8
Name: Approval_Status, dtype: int64